@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


:root {
  --white: #ffffff;
  --background-light: #e7e7f0;
  --text-primary: #0d0d0e;
  --text-secondary: #a7b2c6;
  --text-grey: #55595D;
  --text-blue: #285f95;
  --background-secondary: #f3f5f7;
  --transition-speed: 300ms;

}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: var(--white);
  background-size: cover;
}

a {
  color: var(--text-blue);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3,h4,h5,h6 {
  font-family: Merriweather, serif;
color: var(--text-blue)
}
