.sidebar {
    position: fixed;
    z-index: 1;
    background-color: var(--background-secondary);
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0;
    color: var(--text-primary);
    filter: grayscale(100%) opacity(0.3);
    text-decoration: none !important;
    transition: var(--transition-speed);
}

.nav-link:hover {
  color: var(--text-blue);
  filter: grayscale(0%) opacity(1);
  background-color: var(--background-secondary);
}

.active {
    filter: grayscale(0%) opacity(1);
    background-color: var(--background-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-item {
    width: 100%;
    cursor: pointer;
}

.nav-item:last-child {
    margin-top: auto;
}

@media only screen and (max-width: 599px) {
    main {
        padding: 1rem;
    }

    .sidebar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        overflow: hidden;
    }
    .sidebar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    .nav-link svg {
        min-height: 1.5rem;
        min-width: 1.5rem;
        max-height: 2rem;
        stroke-width: 1;
        max-width: 2rem;
        margin: 0 0.5rem;
    }
}
@media only screen and (min-width: 600px) {
    main {
        margin-left: 5rem;
        padding: 1rem;
    }

    .sidebar {
        top: 0;
        width: 5rem;
        height: 100vh;
        transition:  var(--transition-speed) ease;
    border-right: 1px solid lightgray;
    }
    .sidebar:hover {
        width: 16rem;
        box-shadow: 2px -2px 2px 2px rgba(0,0,0,0.2);
        transition-delay: 0.2s;
    }
    .sidebar:hover .link-text {
        display: inline;
        transition: var(--transition-speed);
    }
    .nav-link svg {
        height: 2rem;
        stroke-width: 1;
        width: 2rem;
        min-width: 2rem;
        margin: 0 1.5rem;
    }
}
